.container.custom-green{
    background-color: green !important;
    color: black;
}

.container.custom-yellow{
    background-color: yellow;
    color: white;
}

.container.custom-red{
    background-color: red;
    color: white;
}